nav{
	background-color: yellow;
}
button{
	svg{
		margin-left: 3px;
	}
}
ul{
	margin-left: 1140px;
}
h1{
	margin-left: 20px;
}
.miShop{
	display: inline;
	justify-content: start;
	align-items: stretch;
}
.miCard{
	height: 225px;
	width: 178px;
	margin-left:750px;
}
.itemCount{
		margin-left: 750px;
		button{
			margin-left: 9px;
		}
}
.router{
	margin-top: 15em;
}