nav{
	width: 100%;
	background-color: yellow;
}
ul{
	margin-left: 1150px;
}
h1{
	margin-left: 20px;
}
.miShop{
	display: inline;
	justify-content: start;
	align-items: stretch;
}
.miCard{
	display: flex;
	align-items: center;
	height: 125px;
	width: 78px;
}
